.mapcontainer {
    h1 {
        margin-left: 20%;
        font-size: 40px;
        color: #1daeff;
    }
    p {
        margin-left: 20%;
        color: white;
        margin-bottom: 50px;
        font-size: 25px;
    }
}
